Adafruit-Blinka==8.31.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-typing==1.9.6
Adafruit-PlatformDetect==3.59.0
Adafruit-PureIO==1.1.11
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
influxdb==5.3.1
msgpack==1.0.7
pyftdi==0.55.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3.post1
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing_extensions==4.9.0
urllib3==2.1.0